<div class="p-10 mb-5 bg-white border border-gray-300 rounded">
<%= form_with(model: ticket, local: true, class: "ticket-form") do |form| %>
  <% if ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(meeting.errors.count, "error") %> prohibited this meeting from being saved:</h2>

      <ul>
      <% ticket.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3 class="mb-4 font-bold">Ticket Information</h3>

  <div class="mb-6">
    <%= form.label :title, class: "label" %>
    <%= form.text_field :title, class: "input" %>
  </div>

  <div class="mb-6">
    <%= form.label :category, class: "label" %>
    <%= form.select :category, options_for_select([["Select Category", ""], "Technical", "Work", "Office", "Home", "Other"]), {}, class: "select" %>
  </div>

  <div class="mb-6">
    <%= form.label :priority, class: "label" %>
    <%= form.select :priority, options_for_select([["Select Priority", ""], "Low", "Medium", "High"]), {}, class: "select" %>
  </div>

  <div class="mb-6">
    <%= form.label :message, class: "label" %>
    <%= form.text_area :message, size: "24x6", class: "input" %>
  </div>

  <hr class="border" />

  <%= form.submit class: "btn btn-primary text-base py-3 px-5 mt-2" %>

<% end %>
</div>